.search-bar{
    background: white;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    height: 7rem;
}

.content-container{
    width: 80rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.ig-logos{
    display: flex;
    flex-direction: row;
}

.ig-logos .written{
    margin-left: 2rem;
    width: 9rem;
    height: 3rem;
}

.ig-logos .icon{
    margin-right: 2rem;
    width: 3rem;
    height: 3rem;
}

.search-field{
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.search-field input{
    border: none;
}

.search-field input:focus{
    outline: none;
}

.search-field img{
    margin: 0.5rem;
}

.user-buttons{
    width: 13vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.user-buttons img{
    width: 2.5rem;
    height: 2.5rem;
}
